[Desktop Entry]
Comment=ROUNDED DARK

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=ROUNDED DARK

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=com.github.varlesh.rounded-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/varlesh/rounded
X-KDE-fallbackPackage=org.kde.breezedark.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1493711,kns://plasma-themes.knsrc/api.kde-look.org/1493719,kns://aurorae.knsrc/api.kde-look.org/1493716,kns://xcursor.knsrc/api.kde-look.org/1356095,kns://wallpaper.knsrc/api.kde-look.org/1243989
